.testimonialSlide{
  background: rgba(17, 17, 17, 0.05);
}

.swiper-button-prev, .swiper-button-next{
  color: #FACC15!important;
}

.swiper-pagination-bullet-active{
  background: #FACC15!important;
}

.swiper{
  padding-left: 3rem!important;
  padding-right: 3rem!important;
}

.testimonalTime{
  color: #9aa0a6;
    font-size: 13px;
}

.swiper-pagination{
  position: relative!important;
  padding-top: 12px!important;
}